section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: rgb(6, 5, 5);
  > img {
    height: 50vh;
    border-radius: 50%;
  }
}

h1 {
  font-family: Roboto;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: 0.105em;
  text-align: center;
  background: linear-gradient(
    90deg,
    #fe9733 33.33%,
    rgba(157, 59, 3, 0) 122.26%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (max-width: 540px) {
    font-size: 45px;
  }
}

button {
  width: 350px;
  height: 66px;
  padding: 20px, 0px, 20px, 0px;
  border-radius: 8px;
  background: linear-gradient(0deg, #1e1e1e, #1e1e1e);
  cursor: pointer;
  border: unset;
  &:hover {
    filter: brightness(1.25);
  }
  @media screen and (max-width: 540px) {
    width: 250px;
  }

  span {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(89.81deg, #fe9733 18.82%, #9d3b03 84.97%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
