<div class="game-board">
  <div *ngIf="game.players.length > 0" class="player-frame">
    <button
      *ngIf="game.players.length >= 2"
      (click)="openDialog()"
      mat-fab
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
    <div class="hide-mobile">
      <app-player
        *ngFor="let player of game.players; let i = index"
        class="player-component"
        [name]="player"
        [image]="game.playerImages[i]"
        [playerActive]="i === game.currentPlayer"
        (click)="openEditDialog(i)"
      ></app-player>
    </div>
    <div class="hide-desktop">
      <ng-container *ngFor="let player of game.players; let i = index">
        <app-player
          [name]="player"
          [image]="game.playerImages[i]"
          *ngIf="i === game.currentPlayer"
          [playerActive]="i === game.currentPlayer"
          (click)="openEditDialog(i)"
        ></app-player>
      </ng-container>
      <button
        (click)="togglePlayerOverview()"
        class="all-players-btn"
        mat-raised-button
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>

  <div class="mobile-player-overview" *ngIf="playerOverview">
    <app-player
      *ngFor="let player of game.players; let i = index"
      class="player-component"
      [name]="player"
      [image]="game.playerImages[i]"
      [playerActive]="i === game.currentPlayer"
      (click)="openEditDialog(i)"
    ></app-player>
  </div>

  <div class="card-stack">
    <div *ngIf="!game.gameOver">
      <img
        [ngStyle]="{ 'right.px': i * 5 }"
        *ngFor="let c of [0, 1, 2, 3]; let i = index"
        src="./../../assets/img/cards/card_cover.png"
        alt="card"
      />
    </div>
    <div *ngIf="!game.gameOver">
      <img
        (click)="takeCard()"
        [ngClass]="{
          'no-curser-events': game.players.length < 2 || game.gameOver
        }"
        class="top-card"
        style="right: 20px"
        src="./../../assets/img/cards/card_cover.png"
        alt="card"
      />
    </div>
    <img
      class="played-card"
      *ngFor="let card of game.playedCards"
      src="../../assets/img/cards/{{ card }}.png"
      alt=""
    />
    <img
      src="../../assets/img/cards/{{ game.currentCard }}.png"
      style="right: 20px"
      *ngIf="game.takeCardAnimation"
      class="take-card"
      alt="ace"
    />
  </div>

  <app-dare-card
    *ngIf="game.players.length >= 2"
    [card]="game.currentCard"
    class="dare-card"
  ></app-dare-card>

  <div class="warning-dialog-wrapper">
    <app-warning-dialog-card
      [gameOver]="game.gameOver"
      (restartGameClicked)="restartGame()"
      *ngIf="
        (game.gameOver && !game.takeCardAnimation) || game.players.length < 2
      "
    ></app-warning-dialog-card>

    <button
      *ngIf="game.players.length < 2"
      (click)="openDialog()"
      mat-fab
      color="primary"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="flip-phone-overlay">
    <img src="../../assets/img/flip_phone.svg" alt="" />
  </div>
</div>
