.game-board {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url(../../assets/img/ring_of_fire_game_table.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 100px;
  }
}

.player-frame {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-height: 80vh;

  > div {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(5, 4, 5, 1);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background: rgb(254, 151, 51);
    }
  }

  @media screen and (max-width: 800px) {
    bottom: 8px;
    left: 8px;
    top: unset;
    flex-direction: row;
    > div {
      flex-direction: row;
      align-items: center;
    }
  }
}

.mobile-player-overview {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  bottom: 76px;
  right: 0;
  max-height: 85vh;
  overflow-y: auto;
  z-index: 100;
}

.all-players-btn {
  height: 60px;
}

.played-card {
  right: 20px;
  transform: scale(1) translateX(150px) translateY(-200px) rotate(340deg);

  @media screen and (max-width: 420px) {
    transform: scale(1) translateX(150px) translateY(-100px) rotate(-20deg);
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.take-card {
  z-index: 100;
  animation: take-card-animation 1.5s ease;
  transform: scale(1) translateX(150px) translateY(-200px) rotate(340deg);
}

.mobile-card {
  z-index: 100;
  animation: mobile-card-animation 1.5s ease;
  transform: scale(1) translateX(150px) translateY(-100px) rotate(-20deg);
  display: none;
}

@media screen and (max-width: 420px) {
  .take-card {
    display: none;
  }

  .mobile-card {
    display: block;
  }
}

.flip-phone-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  img {
    height: 80%;
  }

  @media screen and (max-height: 750px) and (orientation: landscape) {
    display: flex;
  }
}

.btn-add {
  position: absolute;
  right: 500px;
}

.dare-card {
  position: absolute;
  top: 80px;

  max-width: 500px;
}

.warning-dialog-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
}

.no-curser-events {
  pointer-events: none;
}

.hide-mobile {
  @media screen and (max-width: 800px) {
    display: none !important;
  }
}

.hide-desktop {
  @media screen and (min-width: 801px) {
    display: none !important;
  }
}

@keyframes take-card-animation {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1) translateX(150px) translateY(-200px) rotate(340deg);
  }
}

@keyframes mobile-card-animation {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1) translateX(150px) translateY(-100px) rotate(-20deg);
  }
}
