<div class="player-frame">
  <app-player
    *ngFor="let player of game.players; let i = index"
    class="player-component"
    [name]="player"
    [playerActive]="i === game.currentPlayer"
    (click)="openEditDialog(i)"
  ></app-player>
</div>
<div class="game-board">
  <div class="card-stack">
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="./../../assets/img/cards/card_cover.png"
      alt="card"
    />
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 20px"
      src="./../../assets/img/cards/card_cover.png"
      alt="card"
    />
    <img
      class="played-card"
      *ngFor="let card of game.playedCards"
      src="../../assets/img/cards/{{ card }}.png"
      alt=""
    />
    <img
      src="../../assets/img/cards/{{ game.currentCard }}.png"
      style="right: 20px"
      *ngIf="game.takeCardAnimation"
      class="take-card"
      alt="ace"
    />
  </div>

  <button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>

  <app-dare-card [card]="game.currentCard" class="dare-card"></app-dare-card>
</div>
